extends layout
      
block content
  style(type="text/css")
    body {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") 在线考试
        div.nav-collapse.collapse
          p.navbar-text.pull-right login in as 
            a.navbar-link(href="#") 李桂玺
          ul.nav
            li
              a(href="/") 首页
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",href="#") 试卷管理
                span.caret
              ul.dropdown-menu
                li 
                  a(href="/addPaper",tabindex="-1") 添加技术试卷
                li 
                  a(href="/papers",tabindex="-1") 技术试卷列表
                li.divider
                li 
                  a(href="/addPaper",tabindex="-1") 添加技术试卷
                li 
                  a(href="/papers",tabindex="-1") 技术试卷列表
            li.dropdown.active
              a.dropdown-toggle(data-toggle="dropdown",href="#") 考试管理
                span.caret
              ul.dropdown-menu
                li 
                  a(href="/addExam",tabindex="-1") 添加技术考试
                li 
                  a(href="",tabindex="-1") 技术考试列表
                li.divider
                li 
                  a(href="/addExam",tabindex="-1") 添加日语试卷
                li 
                  a(href="",tabindex="-1") 技术考试列表
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",href="#") 成绩评定
                span.caret
              ul.dropdown-menu
                li 
                  a(href="/addExam",tabindex="-1") 手工阅卷
                li 
                  a(href="",tabindex="-1") 高校成绩
                li.divider
                li 
                  a(href="/addExam",tabindex="-1") 成绩发布
                li 
                  a(href="",tabindex="-1") 成绩查询
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",href="#") 监控管理
                span.caret
              ul.dropdown-menu
                li 
                  a(href="/addExam",tabindex="-1") 考试监控
                li 
                  a(href="",tabindex="-1") 考生监控
                li.divider
                li 
                  a(href="/addExam",tabindex="-1") 监考工具
                li 
                  a(href="",tabindex="-1") 试题监控
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",href="#") 课程设置
                span.caret
              ul.dropdown-menu
                li 
                  a(href="/addExam",tabindex="-1") 课程设置
                li 
                  a(href="",tabindex="-1") 课程分配列表
            li
              form.navbar-search.pull-left
                input.search-query(type="text",placeholder="Search")
  div
    ul.breadcrumb
      li
        a(href="/") 首页
        span.divider /
      li
        a(href="#") 考试管理
        span.divider /
      li.active 考试列表

  div.container-fluid
    div.row-fluid
      table.table.table-hover.table-condensed
            thead
              tr
                td(style="width: 150px;") 考试名称
                td(style="width: 300px;") 课程
                td 类型
                td 注意事项
                td 状态
                td 时长
                td 操作
            tbody
              for exam in exams
                tr 
                  td 
                    small #{exam.name}
                  td 
                    small #{exam.course_name}
                  td 
                    small #{exam.category}
                  td 
                    small #{exam.notice}
                  td 
                    small #{exam.status}
                  td 
                    small #{exam.total_time}分钟
                  td 
                    a.btn.btn-mini.btn-primary(href="#",title="编辑") 
                      i.icon-edit.icon-white
                    &nbsp;
                    a.btn.btn-mini(href="#",title="删除") 
                      i.icon-trash

        div.pagination.pagination-right
          ul
            - for (var index = 1; index <= count/pageSize + 1; index ++)
              - if(pageNo == index)
                li.disabled
                  a(href="#") #{index}
              - else
                li
                  a(href="#") #{index}
        
    hr
    footer
      p
        © 青岛东合信息技术有限公司 2013
